<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- Perfis -->
  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>github-ramir-util</id>
          <url>https://maven.pkg.github.com/ramiralvesmelo/util</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <!-- Ativar perfil por padrão -->
  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <!-- Credenciais -->
  <servers>
    <server>
      <id>github-ramir-util</id>
      <username>ramiralvesmelo</username>
      <password>SEU_PERSONAL_ACCESS_TOKEN</password>
    </server>
  </servers>

</settings>